table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}

.my footer{
    background-color: lightblue;}
.left{
    float: right;
    margin: 1em
}
.right{
    float: right;
    margin: 1em
}

